@font-face {
  font-family: 'Pixel', monospace;
  src: url('./font/Pixel-LCD-7.woff') format('woff');
}
@font-face {
 font-family: 'Akaya Telivigala', cursive;
  src: url('./font/AkayaTelivigala-Regular.ttf');
}

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url('./font/IndieFlower-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Akaya Telivigala';
  background: url('./img/bg.png')no-repeat;
  background-size: cover;
}

